body{
    background-image:url("../images/pat3.jpg")  ;
    border: solid 10px lightslategray;
    margin: 10 px ;
    color:black;
}

header{
    background-color: white;
    position: fixed;
    top: 10px;
    width: 100%;
    color: white;

}
.word{
    text-transform: uppercase;
    font-size:  25px;
    color: teal;
    font-family: cursive;
}
section{
    
    padding: 5px 30px;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 75px 30px 0 30px;
    background-color: white;
}
article{
    font-size: 20px;
    line-height: 2px;
    line-height: 25px;
    text-align: justify;
    
    margin: 5px auto 5px;
    
}
.title{
    font-size: 30px;
    font-weight: bold;
   
    font-family: fantasy;
}
nav>ul>li>a{
    text-decoration: none;
}
nav ul li :hover{
    background-color: indigo;
}
img{
    width: 400px;
    height:400px;
    border-radius: 100%;
    float: left;
}
#clear{
    clear:left;
}
.h1 {
    border: 3px solid lightslategray;
    padding: 10px;
    
  }
  
  

a{
    text-decoration: none;
    color: white;

}
.h1 {

    border: 3px solid lightslategray;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   background-color: darkslategray;
    font-size: 20px;
  }
  a{
      margin-left: 10px;
      margin-right: 10px;
  }
a:hover{
    font-size: 25px;
   