input{
    margin: 15px;

}
label{
    color: wheat;
    margin-left: 100px;
}
.gmap_canvas{
    margin-left: 20px;
}
#head{
    justify-content: center;
    align-content: center;
    display: flex;
}
#main{
    
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: auto auto;
    margin: 10px;
     
}
.container {
    min-height: 120vh;
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #eee;
    
   
  }
  * {
    margin: 0;
    padding: 0;
    user-select: none;
    
  }
  .wrapper{
      width: 100%;
      max-width: 680px;
      margin:100px auto 0;
      padding: 20px;
      box-sizing: border-box;
  }
  .content{
      text-align: center;
  }
  .top,
  .middle,
  .bottom{
      width: 100%;
      min-height: 65px;
      margin: 10px 0;
  }
  .form input[type=text],
  .form textarea{
      padding: 15px 5px;
      box-sizing: border-box;
      width: 100%;
      border: 2px solid black;
  }
  .form{
      align-content: flex-start;
  }

  #second{
      margin-left: 100px;
      float: right;
  }
  .h1 {
    border-bottom: 3px solid lightslategray;
    padding: 10px;
  }
  #sub{
      height: 40px;
      width: 100px;
      align-content: center;
      padding: 5px;
      position: relative;
  }