*{
    margin: 0;
    padding: 0;
    user-select: none;
}
input{
    height: 50px;
}
body{
    background-color: darkcyan;
}
.wrapper{
    width: 100%;
    max-width: 680px;
    margin: 100px auto 0;
    padding: 20px;
    box-sizing: border-box;
}
.content{
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;

}.content h1{
letter-spacing: 1px;
}
.form{
    width: 100%;
    margin: 25px 0;
}
.top,
.middle,
.bottom{
    width: 100%;
    min-height: 65px;
    margin: 10px 0;
}
.form input[type=text],
.form textarea{
    padding: 15px,5px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    transition: all 0.2s ease;
}
.h1 {

    border: 3px solid lightslategray;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   background-color: darkslategray;
    font-size: 20px;
    font-family: cursive;
    margin-left: 20px;
  }
  a{
    margin-left: 10px;
    margin-right: 10px;
}
a:hover{
  font-size: 25px;
  color: indigo;
}
a{
  text-decoration: none;
  color: white;

}
.form input:focus,
.form textarea:focus{
border-color: darkcyan;
box-shadow:inset 0 1px 1px rgba((red), green, blue, alpha) ;
}
.form .label{
    margin-bottom: 5px;
    text-transform: capitalize;
}
#this{
    background-color: white;
    height: 200px;
    margin-left: 20px;
    margin-top: 40px;
}
#first{
    color: black;
    background-image:url("../images/pat3.jpg")  ;
    display: grid;
    padding:10px ;
    margin-top: 20px;
    
}
.top .inner{
    width: 29.9%;
    float: left;
    margin-right: 5%;
}
.top .inner:last-child{
    margin-right: 0;
}

.middle{
    clear: both;

}
.bottom textarea{
    height: 120px;
}
#first{
    background: img(url:);
}