img{
    width:30%;
    
    height: 300px;
}
.first{
    float: left;
    margin-left: 5%;
}

#nav1{
    border: 3px solid lightslategray;
    padding: 25px;
    border-top: 3px solid lightslategrey;
    box-align: center;
    color: white;
    background-color: thistle;
    
}
.stack-top{

    z-index: 9;

    margin: 20px; 
}
.qn{
    margin: 30px;
}

#gal{
    background-image:url("../images/pat3.jpg")  ;
}
.h1 {
    border: 3px solid lightslategray;
    padding: 10px;
    
  }
  .bn {
    
    border: 3px solid lightslategray;
    padding: 10px;
    background-color: thistle;
    text-decoration: none;
    text-emphasis: none;
  }
  a{
      margin-left: 10px;
      margin-right: 10px;
  }
  #header1{
      text-transform: uppercase;
      text-align: center;
      margin: 50px;
      color:indigo;
      font-size: 30px;
      font-family: cursive;
      font-weight: bold;
      background-color: white;
      width: max-content;
      align-content: center;
      justify-content: center;
      margin-left: 500px;
  }
  #l{
      border-top: 3px solid black;
      border-left: 3px solid black;
      border-right: 3px solid black;
      margin: 0;

  }
  .sec{
      float: right;
      margin-right: 5%;
  }
  .n1 {
    border-bottom: 3px solid lightslategray;
    padding: 10px;
  }
  #nav1 a{
    text-decoration: none;
    color:white;
    margin: 0 10px;
    line-height: 70px;
    clear: right;
}
  #nav1{
    border-bottom: 3px solid lightslategray;
    padding: 10px;
    text-align: right;
    box-align: center;
    background-color: #808080;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    
}
#nav1 a{
    text-decoration: none;
    color:white;
    margin: 0 10px;
    line-height: 70px;
    clear: right;
}
#nav1{
    margin: 0 30px 0 0;
}
a{
    text-decoration: none;
    color: white;

}
.h1 {

    border: 3px solid lightslategray;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   background-color: darkslategray;
    font-size: 20px;
  }
  a{
      margin-left: 10px;
      margin-right: 10px;
  }
a:hover{
    font-size: 25px;
    color: indigo;
}
.bn{
    background-color: #808080;
    box-shadow: 15px 15px 10px #808080;
    border-top: 3px solid lightslategray;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   background-color: darkslategray;
    font-size: 20px;
}
#bn1{
    background-color: #808080;
    text-align: right;
    box-shadow: 15px 15px 10px #808080;
    
}