img{
    width:30%;
    
    height: 300px;
}
.first{
    float: left;
    margin-left: 5%;
}

#nav1{
    border: 3px solid lightslategray;
    padding: 25px;
    border-top: 3px solid lightslategrey;
    box-align: center;
    color: white;
    background-color: thistle;
    
}
.stack-top{

    z-index: 9;

    margin: 20px; 
}
.qn{
    margin: 30px;
}

#gal{
    background-color: indigo;
}
.h1 {
    border: 3px solid lightslategray;
    padding: 10px;
    
  }
  .bn {
    
    border: 3px solid lightslategray;
    padding: 10px;
    background-color: thistle;
    text-decoration: none;
    text-emphasis: none;
  }
  a{
      margin-left: 10px;
      margin-right: 10px;
  }
  #header1{
      text-transform: uppercase;
      text-align: center;
      margin: 50px;
      color: white;
      font-size: 30px;
  }
  .sec{
      float: right;
      margin-right: 5%;
  }