.container {
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
    margin-top: 10px;
    position: top;
  }
  
  .main {
    display: grid;
    width: 1000px;
    height:800px;
    grid-template-columns: auto auto auto;
    margin: 15px;
  }
  .blo{
    width: fit-content;
    height: 200px;
    margin: 20px;
   border: 2px solid black;
   display: grid;
  }
  .block {
    display: inline-flex;
    width: fit-content;
    height: 200px;
    margin: 20px;
   
    border: 2px solid black;
    
  }

.first{
  width: 100%;
  height: 100%;
 }
 .third{
  
    width: 100%;
    height: 80%;
    justify-content: center;
    align-content: center;
  
 }
 .fourth{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px white;
 }
.second{
  display: inline;
  width: 100%;
  height: 30%;
}
#header1{
  text-transform: uppercase;
  text-align: center;
  margin: 50px;
  color: crimson;
  font-size: 30px;
}
#b9{
  background-image: url(../images/pat1.jpg);
  position: relative;
      top: 0;
      left: 0;
}
.fish
    {
      position: absolute;
      top: 60px;
      left: 100px;
      width: 100px;
      height: 75px;
    }
#spain{
  width: fit-content;
    height: 200px;
    margin: 20px;
   border: 2px solid black;
   display: grid;
  }
#one{
  
  background-color: blue;
}
#two{
  background-color:rgb(255, 238, 0);
}
#three{
  background-color: red;
}
#five{
  background-color: white;
}
#four{
  background-color: green;
}
#black{
  background-color: black;
}
#db{
  background-color: darkslateblue;
}
#og{
  background-color: darkorange;
}
#dg{
  background-color: darkgreen;
}
#lb{
  background-color: lightskyblue;
}
#b11{
   width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-left: 100px solid red;
      border-bottom: 50px solid transparent;
}


