.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
  }
  
  .main {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: auto auto auto;
    margin: 20px;
  }
  .block {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 20px;
   
    border: 2px solid black;
    
  }

.first{
    width: max-content;
    height: 100px;
 }
#one{
  background-color: lightcoral;
}
#two{
  background-color:blue;
}
#three{
  background-color: coral;
}