#nav1{
    border: 3px solid lightslategray;
    padding: 10px;
    border-top: 3px solid lightslategrey;
    box-align: center;
    background-color: #808080a2;
    font-size: 20px;
    
}
.qn{
    margin: 30px;
}
#qn{
    background-color: rgb(119, 0, 130);
}
#bn{
    background-color: #808080a2;
    box-shadow: 15px 15px 10px #808080;
}
#bn1{
    background-color: #808080a2;
    text-align: right;
    box-shadow: 15px 15px 10px #808080;
}
#fimg{
    background-image: ;
}
img{
    margin: 20px;
    width: 350px;
    height: 350px;
    border: 1px solid black;
    
    
}
#first{
    color: rgba(110, 29, 29, 0.692);
    background-image:url("../images/pat3.jpg")  ;
    display: grid;
    padding:10px ;
    margin-top: 10px;
    
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    font-size: 25px;
    color: indigo;
}
#second{
    color: wheat;
    background-color: #808080;
}
#third{
    color: wheat;
    background-color: #808080;
}
#four{
    color: wheat;
    background-color: rgb(119, 0, 130);
}

#two{
    
        display: grid;
        width: fit-content;
        height: 600px;
        grid-template-columns: auto auto auto;
      
}
.h1 {

    border: 3px solid lightslategray;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   
    font-size: 20px;
  }
  a{
      margin-left: 10px;
      margin-right: 10px;
  }
  #header1{
      text-transform: uppercase;
      align-content: center;
      position: relative;
  }
  body{
    line-height: 2em
  }
  #im{
      justify-content: center;
      align-content: center;
      text-align: center;
  }