.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #eee;
  }
  * {
    margin: 0;
    padding: 0;
    
  }
  .main {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: auto auto auto;
  }
  .block {
    display: flex;
    width: 200px;
    height: 200px;
   
    border: 2px solid black;
    
  }
  #b0,
#b1,
#b2 {
  border-top: none;
}

#b0,
#b3,
#b6 {
  border-left: none;
}

#b6,
#b7,
#b8 {
  border-bottom: none;
}

#b2,
#b5,
#b8 {
  border-right: none;
}
